/* styles.css */

.br {
	display: block;
	margin-bottom: .4em;
}

body {
	background: white;
	color: black;
}

.topBar {
	text-align: left;
	font-size: 20px;
	background: #DEE4E7;
	padding: 10px;
	border-radius: 7px;
}

.menuBtn {
  background: #DEE4E7;
  border-radius: 4px;
  padding: 5px 10px;
  color:black;
  font-weight: 500;
  font-size: 20px;
  border: none;
}

.menuBtn:hover {
  background: #00b175;
}

.section.header {
	text-decoration: underline;
}

.item {
	text-align: center;
}

.box {
	background: #DEE4E7;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.header {
	text-decoration: underline;
}

img {
	height: 300px;
	width: auto;
}
.footer {
	bottom: 0%;
	right: 2%;
	position: fixed;
}

.topBtn {
	display: none;
	position: fixed;
	bottom: 2%;
	left: 8.5%;
	font-size: 25px;
	border-width: 1px;
	background-color: #DEE4E7;
	color: black;
	cursor: pointer;
	padding: 5px 30px;
	border-radius: 7px;
}

.topBtn:hover {
	background-color: #00b175;
}

/* Night Mode Toggle and arguments */
.darkToggle {
	background-color: #202123;
	position: absolute;
	top: 22px;
	right:20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-width: 1px;
	transition: .3s;
}

.dark-toggle {
	background-color: #DEE4E7;
}

.dark-body {
	background: #17181a;
	color: #d2cec8;
}

.dark-box {
	background: #202123;
	color: #d2cec8;
}

.dark-menu {
	background: #202123;
	color: #d2cec8;
}

.dark-btn {
	background: #202123;
	color: #d2cec8;
	border: none;
}